@use '../../Functions.scss' as *;

header {
    position: fixed;
    inset: 0 0 auto;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: fluid(10, 30) fluid(30, 50);
    pointer-events: auto;
}
.brand {
    display: flex;
    align-items: center;
    gap: fluid(10, 30);
    pointer-events: auto;
    .logo {
        height: fluid(29, 48);
        color: var(--mainTextColor);
        cursor: pointer;
        filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.8)) drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
        transition: color $transition, transform $transition;
        &:hover {
            color: var(--mainColor);
            transform: scale(1.1);
        }
    }
    h1 {
        color: var(--mainTextColor);
        font-weight: 700;
        font-size: fluid(16, 40);
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8), 0 0 15px rgba(0, 0, 0, 0.4);
    }
}
.menu {
    z-index: 5;
    padding: fluid(5, 10) fluid(15, 30);
    background-color: var(--mainColor);
    border-radius: fluid(10, 15);
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
    gap: fluid(10, 30);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
    span, a {
        font-weight: bold;
        font-size: fluid(16, 24);
        color: var(--secondTextColor);
        cursor: pointer;
    }
    &.open {
        cursor: default;
    }
    nav {
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows $transition;
    }
    .inner {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: fluid(8, 15);
        a {
            display: block;
            cursor: pointer;
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: text-decoration-color $transition;
            &:hover {
                text-decoration-color: var(--secondTextColor);
            }
        }
    }
    &.open nav {
        grid-template-rows: 1fr;
        .inner {
            padding-top: fluid(8, 15);
        }
    }
}
.backdrop {
    position: fixed;
    inset: 0;
    z-index: 1;
    pointer-events: auto;
}