@use '../../Functions.scss' as *;

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    background-color: var(--footerColor);
    color: var(--mainTextColor);
    border-top: 3px solid var(--mainColor);
    padding: fluid(10, 30) fluid(30, 50);
    .brand {
        display: flex;
        align-items: center;
        gap: 20px;
        .logo {
            height: fluid(29, 48);
        }
        .legal {
            color: var(--mainTextColor);
            text-decoration: none;
            font-size: fluid(16, 22);
            transition: color 0.3s ease;
            &:hover {
                color: var(--mainColor);
            }
        }
    }
    p {
        display: flex;
        gap: 10px;
        align-items: center;
        flex-direction: row;
        @media (max-width: 767px) {
            align-items: flex-start;
            flex-direction: column;
        }
        .copy {
            font-size: fluid(16, 28);
        }
        .brand {
            font-size: fluid(16, 40);
            line-height: 1;
        }
    }
}
