.legals, .confidentiality, .cookies, .devis {
    padding-inline: clamp(30px, 30px + (50 - 30) * ((100vw - 320px) / (1440 - 320)), 50px);
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.devis{
    padding-bottom: clamp(30px, 30px + (50 - 30) * ((100vw - 320px) / (1440 - 320)), 50px);

}
.icon {
    position: fixed;
    bottom: clamp(30px, 30px + (50 - 30) * ((100vw - 320px) / (1440 - 320)), 50px);
    right: clamp(30px, 30px + (50 - 30) * ((100vw - 320px) / (1440 - 320)), 50px);
    color: var(--mainColor);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    &:hover {
        color: var(--secondColor);
    }
}