@use '../Functions.scss' as *;

.legals, .confidentiality, .cookies, .devis {
    padding-inline: fluid(30, 50);
    display: flex;
    flex-direction: column;
    gap: 30px;
    ul {
        list-style-position: inside;
    }
}
.legals {
    padding-top: fluid(50, 108);
}
.devis {
    padding-bottom: fluid(30, 50);
}
.icon {
    position: fixed;
    bottom: fluid(30, 50);
    right: fluid(30, 50);
    color: var(--mainColor);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    &:hover {
        color: var(--secondColor);
    }
}