@use 'Functions' as *;

:root {
    --mainColor: #bb663f;
    --mainBackgroundColor: #1A1A1A;
    --mainTextColor: #DBDBDB;
    --secondTextColor: #1A1A1A;
    --headerColor: #1A1A1A;
    --footerColor: #303137;
    --glassColor: 219, 219, 219;
    --radarColor: #77A26B;
    --fighterColor: #D06C6C;
    --towerColor: #6F62E4;
    --createColor: #5BAEF3;
    --refreshColor: #AD67CE;
    --wrenchColor: #C2824B;
    --strategyColor: #D4C887;
    --errorColor: #c52724;
}
a {
    color: var(--mainTextColor);
    text-decoration: none;
    pointer-events: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: var(--mainBackgroundColor);
}
main{
    color: var(--mainTextColor);
}
h2 {
    text-align: center;
    padding-block: fluid(30, 50);
    font-size: fluidFont(1.625, 4.25);
}
h3 {
    margin: 10px 0;
    font-size: fluidFont(1.5, 3);
}
h4{
    font-size: fluidFont(1.25, 2.5);
}
p, a, figcaption, li {
    line-height: 1.6;
    font-size: fluidFont(1.25, 2);
}