@use './mixins.scss' as *;

:root {
    --mainColor: #bb663f;
    --mainBackgroundColor: #1F2024;
    --mainTextColor: #DBDBDB;
    --secondTextColor: #1F2024;
    --headerColor: #1F2024;
    --footerColor: #303137;
    --glassColor: 219, 219, 219;
    --radarColor: #77A26B;
    --fighterColor: #D06C6C;
    --towerColor: #6F62E4;
    --createColor: #5BAEF3;
    --refreshColor: #AD67CE;
    --wrenchColor: #C2824B;
    --strategyColor: #D4C887;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
main{
    color: var(--mainTextColor);
    background-color: var(--mainBackgroundColor);
}
h2{
    text-align: center;
    @include padding(30px 0 30px 0, 50px 0 50px 0, 50px 0 50px 0);
    @include fontSize(22px, 68px, 68px);
}
h3{
    margin: 10px 0;
    @include fontSize(22px, 48px, 48px);
}
p{
    @include fontSize(18px, 32px, 32px);
}