:root {
    --mainColor: #bb663f;
    --mainBackgroundColor: #1F2024;
    --mainTextColor: #DBDBDB;
    --secondTextColor: #1F2024;
    --headerColor: #1F2024;
    --footerColor: #303137;
    --glassColor: 219, 219, 219;
    --radarColor: #77A26B;
    --fighterColor: #D06C6C;
    --towerColor: #6F62E4;
    --createColor: #5BAEF3;
    --refreshColor: #AD67CE;
    --wrenchColor: #C2824B;
    --strategyColor: #D4C887;
    --errorColor: #c52724;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    margin: 0;
}
::-webkit-scrollbar-thumb {
    background-color: var(--mainTextColor);
    border-radius: 6px;
    border: 3px solid var(--mainBackgroundColor);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #CCCCCC;
}
input, textarea, p, a {
    user-select: text;
    -webkit-user-select: text;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}
a[href^="tel"] {
    color: var(--mainTextColor);
    text-decoration: none;
    pointer-events: auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background-color: var(--mainBackgroundColor);
}
main{
    color: var(--mainTextColor);
}
h2 {
    text-align: center;
    padding-block: clamp(30px, 3.473vw, 50px);
    font-size: clamp(26px, 4.723vw, 68px);
}
h3 {
    margin: 10px 0;
    font-size: clamp(24px, 3.334vw, 48px);
}
p, figcaption {
    font-size: clamp(20px, 2.223vw, 32px);
}