@mixin width($mobile, $tablet, $desktop) {
  & {
    width: $desktop;
  }
  @media (max-width: 1439px) {
    width: $tablet;
  }
  @media (max-width: 767px) {
    width: $mobile;
  }
}
@mixin flexDirection($mobile, $tablet, $desktop) {
  & {
    flex-direction: $desktop;
  }
  @media (max-width: 1439px) {
    flex-direction: $tablet;
  }
  @media (max-width: 767px) {
    flex-direction: $mobile;
  }
}
@mixin alignItems($mobile, $tablet, $desktop) {
  & {
    align-items: $desktop;
  }
  @media (max-width: 1439px) {
    align-items: $tablet;
  }
  @media (max-width: 767px) {
    align-items: $mobile;
  }
}
@mixin justifyContent($mobile, $tablet, $desktop) {
  & {
    justify-content: $desktop;
  }
  @media (max-width: 1439px) {
    justify-content: $tablet;
  }
  @media (max-width: 767px) {
    justify-content: $mobile;
  }
}
@mixin backgroundPosition($mobile, $tablet, $desktop) {
  & {
    background-position: $desktop;
  }
  @media (max-width: 1439px) {
    background-position: $tablet;
  }
  @media (max-width: 767px) {
    background-position: $mobile;
  }
}