@use './Functions.scss' as *;

.notFound {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: fluid(30, 50);
    h1 {
        font-size: fluid(48, 128);
        color: var(--mainColor);
    }
    .back {
        margin: fluid(10, 30);
        padding: fluid(10, 12) fluid(20, 24);
        background-color: var(--mainColor);
        color: var(--mainBackgroundColor);
        border: 2px solid var(--mainColor);
        border-radius: fluid(10, 15);
        transition: color $transition, background-color $transition;
        &:hover {
            color: var(--mainColor);
            background-color: var(--mainBackgroundColor);
        }
    }
}