@use '../../Functions.scss' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: fluid(10, 30);
    width: 50%;
    @media (max-width: 1439px) {
        width: 100%;
    }
    input,
    textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--mainTextColor);
        color: var(--mainTextColor);
        font-size: fluid(20, 32);
        height: fluid(30, 50);
        &::placeholder {
            color: var(--mainTextColor);
            font-size: fluid(20, 32);
        }
        &.invalid::placeholder {
            color: var(--errorColor);
        }
        &.invalid {
            color: var(--errorColor);
        }
        &:focus {
            outline: none;
        }
    }
    textarea {
        resize: none;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    input:-webkit-autofill:hover,
    textarea:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill:focus {
        -webkit-text-fill-color: var(--mainTextColor) !important;
        font-size: fluid(20, 32);
        -webkit-box-shadow: 0 0 0 1000px var(--mainBackgroundColor) inset !important;
        transition: background-color 5000s ease-in-out 0s !important;
    }
    button {
        width: fit-content;
        font-weight: 800;
        font-family: inherit;
        border: 1px solid transparent;
        color: var(--secondTextColor);
        background-color: var(--mainColor);
        transition: color ease 0.3s, background-color ease 0.3s, border ease 0.3s, width 0.3s ease;
        border-radius: fluid(6, 7.5);
        font-size: fluid(20, 32);
        padding: fluid(5, 10) 15px;
        &:hover,
        &.sending,
        &.success {
            background-color: var(--mainBackgroundColor);
            color: var(--mainColor);
            border: 1px solid var(--mainColor);
        }
    }
}
