@use '../../mixins' as *;

.form {
    display: flex;
    flex-direction: column;
    gap: clamp(10px, 2.083vw, 30px);
    @include width(100%, 100%, 50%);
    input,
    textarea {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid var(--mainTextColor);
        color: var(--mainTextColor);
        font-size: clamp(20px, 2.223vw, 32px);
        height: clamp(30px, 3.473vw, 50px);
        &::placeholder {
            color: var(--mainTextColor);
            font-size: clamp(20px, 2.223vw, 32px);
        }
        &.invalid::placeholder {
            color: var(--errorColor);
        }
        &.invalid {
            color: var(--errorColor);
        }
        &:focus {
            outline: none;
        }
    }
    textarea {
        resize: none;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    input:-webkit-autofill:hover,
    textarea:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill:focus {
        -webkit-text-fill-color: var(--mainTextColor);
        font-size: 26px;
        -webkit-box-shadow: 0 0 0 1000px var(--mainBackgroundColor) inset;
        transition: background-color 5000s ease-in-out 0s;
    }
    button {
        width: fit-content;
        font-weight: 800;
        font-family: inherit;
        border: none;
        color: var(--secondTextColor);
        background-color: var(--mainColor);
        border: 1px solid transparent;
        transition: color ease 0.3s, background-color ease 0.3s, border ease 0.3s, width 0.3s ease;
        border-radius: clamp(6px, 0.521vw, 7.5px);
        font-size: clamp(20px, 2.223vw, 32px);
        padding: clamp(5px, 0.694vw, 10px) clamp(15px, 1.042vw, 15px);
        &:hover,
        &.sending,
        &.success {
            background-color: var(--mainBackgroundColor);
            color: var(--mainColor);
            border: 1px solid var(--mainColor);
        }
    }
}